body {
    box-sizing: border-box;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

body {
    background-color: rgb(37, 37, 37);
}

.logo-image {
    width: 60px;
    margin-right: 5px;
    margin-left: 50px;   
}

.logo-text {
    margin-right: auto;
    margin-left: 0;
    font-size: 38px;
    margin-top: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: white;
}

.buttons {
    margin-right: 40px;
    padding: 0;
}

.menu {
    display: inline-block;
    padding: 0 15px;
    transition: all 0.4s;
    margin-top: 15px;
}

.menu-button-anchor:hover {
    color: rgb(146, 146, 146);
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index:9999;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: rgb(28, 28, 28);
    box-shadow: 3px 0 2px rgb(26, 26, 26);
}

input {
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 12px;
  }

input[type=url] {
    width: 20%;
}

input[type=description] {
    width: 55%;
}

button {
  background-color: rgb(219, 219, 219);
  border-radius: 12px;
  border-width: 0;
  cursor: pointer;
  text-align: center;
  color: #303030;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.input-container {
    margin-top: 90px !important;
    padding: 10px 15px 10px 15px !important;
}

.main-container {
    position: relative;
    width: calc(100% - 400px);
    height: 100%;
    margin: 0px 160px 20px 160px;
    background-color: rgb(32, 32, 32);
    box-shadow: 0 0 3px 1px rgb(26, 26, 26);
    border-style: solid;
    border-width: 0;
    border-radius: 10px;
    padding: 30px 15px 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photo-container {
    position: relative;
    width: calc(30% - 20px);
    margin-bottom: 30px;
    border-style: solid;
    border-width: 0;
    border-radius: 6px;
}

.photo {
    width: 100%;
    border-style: solid;
    border-width: 0;
    border-radius: 6px;
}

.description-title {
    width: 100%;
    padding: 3px 2px;
    font-size: 16px;
    font-weight: 600;
}

.description {
    padding: 0px 8px 0 6px;
    font-size: 14px;
    font-weight: 400;
}

.created {
    width: 100%;
    margin-bottom: 8px;
}

.photo-container:hover .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 6px);
    background-color: rgb(128, 128, 128);
    opacity: 0.05;
    border-style: solid;
    border-width: 0;
    border-radius: 6px;
    transition: all 0.8s;
}

.photo-container:hover {
    width: 40%;
    transition: all 0.3s;
}

footer {
    padding: 40px  120px;
    background-color: rgb(20, 20, 20);
}

.footer-copyright {
    text-align: end;
    margin-top: 40px;
}

#footer-title {
    font-size: 30px;
}

#footer-copyright-text:hover {
    color: rgb(146, 146, 146);
}




@media (min-width: 768px) and (max-width: 990px) {
    .main-container {
        width: calc(100% - 125px);
        margin: 0px 40px 20px 40px;
        padding: 30px 20px 0 20px;
    }
    
    .photo-container {
        width: calc(50% - 20px);
        margin-bottom: 30px;
    }
    
    .photo-container:hover .overlay {
        height: calc(100% - 6px);
    }

    .photo-container:hover {
        width: 52%;
    }
}




@media (max-width: 768px) {
    .logo-text {
        display: none;
    }

    .logo-image {
        margin-right: auto;
        margin-left: 20px;
    }

    .menu {
        padding: 0 7px;
    }

    input {
        width: 100% !important;
        margin-bottom: 8px;
    }

    button {
        width: 100%;
        margin-bottom: 8px;
    }

    .main-container {
        width: calc(100% - 145px);
        margin: 0px 50px 20px 50px;
        padding: 30px 20px 0 20px;
    }
    
    .photo-container {
        width: calc(100% - 20px);
        margin-bottom: 30px;
    }
    
    .photo-container:hover .overlay {
        height: calc(100% - 6px);
    }

    .photo-container:hover {
        width: 120%;
    }
}